<div id="<%= dom_id interaction %>">
  <p>
    <strong>Favorite:</strong>
    <%= interaction.favorite %>
  </p>

  <p>
    <strong>Contacted:</strong>
    <%= interaction.contacted %>
  </p>

  <p>
    <strong>Property:</strong>
    <%= interaction.property_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= interaction.user_id %>
  </p>

  <p>
    <strong>Actived:</strong>
    <%= interaction.actived %>
  </p>

  <p>
    <strong>Closed:</strong>
    <%= interaction.closed %>
  </p>

</div>
