<div id="<%= dom_id property %>">
  <p>
    <strong>Operation type:</strong>
    <%= property.operation_type %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= property.location %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

  <p>
    <strong>Property type:</strong>
    <%= property.property_type %>
  </p>

  <p>
    <strong>Maintanance:</strong>
    <%= property.maintanance %>
  </p>

  <p>
    <strong>Bathroom:</strong>
    <%= property.bathroom %>
  </p>

  <p>
    <strong>Petfriendly:</strong>
    <%= property.petfriendly %>
  </p>

  <p>
    <strong>Bedroom:</strong>
    <%= property.bedroom %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= property.area %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= property.user_id %>
  </p>

</div>
